server:
  servlet:
    context-path: /api/v1

spring:
  application:
    name: country-service

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format-sql: true
    open-in-view: false

logging:
  level:
    com.service.countryservice: DEBUG
    org.springframework.web: INFO